# Core Application
streamlit
numpy
pandas

# PDF Text Extraction
PyPDF2

# NLP and Embeddings
nltk
spacy
sentence-transformers
scikit-learn

# Miscellaneous
requests
python-dotenv

# (Optional – Only for local)
mlflow